.content {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 40px 20px;
}

.main {
  flex: 2;
  background: #b22222;
  border-radius: 8px;
}

.sidebar {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}